<h1 class="title">Classificação de Itens</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @item_classifications.each do |item_classification| %>
      <tr>
        <td><%= item_classification.nome %></td>
        <td><%= link_to 'Mostrar', item_classification %></td>
        <td><%= link_to 'Editar', edit_item_classification_path(item_classification) %></td>
        <td><%= link_to 'Destruir', item_classification, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Classificação', new_item_classification_path, class: 'btn btn-primary' %>
