<h1 class="title">Lista de Itens no Almoxarifado</h1>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Descrição</th>
    <th>Qtd</th>
    <th colspan="3">Ações</th>
  </tr>

  <%= content_tag_for(:tr, @stockroom_items) do |stockroom_item| %>
    <td><%= stockroom_item.id %></td>
    <td><%= stockroom_item.descricao %></td>
    <td><%= stockroom_item.quantidade %></td>
    <td>
      <%= link_to 'Mostrar', stockroom_item, class: 'btn btn-xs btn-info' %>
      <% if !stockroom_item.stockroom_movimentations.any? %>
        <%= link_to 'Editar', edit_stockroom_item_path(stockroom_item), class: 'btn btn-xs btn-warning' if can?(:edit, stockroom_item) %>
        <%= link_to 'Destruir', stockroom_item, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-xs btn-danger' if can?(:destroy, stockroom_item)%>
      <% end %>
    </td>
  <% end %>
</table>

<hr />

<%= link_to 'Novo Item', new_stockroom_item_path, class: 'btn btn-success' if can?(:create, StockroomItem)%>
