<h1 class="title">Exibindo Item</h1>

<dl class="dl-horizontal">
  <dt>Descrição:</dt>
  <dd><%= @stockroom_item.descricao %></dd>
  <dt>Saldo:</dt>
  <dd><%= @stockroom_item.quantidade %></dd>
</dl>

<hr />


<div class="col-md-12">
  <h3>Detalhamento das Movimentações</h3>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Tipo Movimentação</th>
      <th>Nº Empenho/Solicitante</th>
      <th>Quantidade</th>
      <th>Saldo</th>
      <th>Data</th>
      <th>Detalhes</th>
    </tr>
    <% saldo = 0 %>
    <% @stockroom_movimentations.each do |sm| %>
      <tr>
        <td><%= sm.id %></td>
        <% if sm.entry? %>
          <td>Entrada</th>
          <td><%= sm.numero_empenho %></td>
          <td>+ <%= sm.quantidade %></td>
          <td><%= saldo += sm.quantidade %></td>
          <td><%= l sm.created_at, format: :short %></td>
          <td><%= link_to "Mais detalhes", stockroom_entry_path(sm)%>
        <% else %>
          <td>Saída</th>
          <td><%= sm.user.full_name %></td>
          <td>- <%= sm.stockroom_removal_items.where(stockroom_item: @stockroom_item).first.quantidade %></td>
          <td><%= saldo -= sm.stockroom_removal_items.where(stockroom_item: @stockroom_item).first.quantidade %></td>
          <td><%= l sm.created_at, format: :short %></td>
          <td><%= link_to "Mais detalhes", stockroom_removal_path(sm) %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<hr />

<%= link_to 'Voltar', stockroom_items_path, class: 'btn btn-default' %>
