<%= simple_form_for(@bid) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :uasg, label_method: :full_name, label: 'UASG', input_html: {class: 'chosen-select'} %>
    <%= f.input :numero, label: 'Número do Pregão' %>
    <%= f.input :objeto_do_pregao, label: 'Objeto do Pregão' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
