<%= form_for(@uasg) do |f| %>
  <% if @uasg.errors.any? %>
      <ul>
      <% @uasg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :codigo, 'Código' %>
    <%= f.text_field :codigo, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar UASG', class: 'btn btn-primary'%>
  </div>
<% end %>

<hr />
