<div id="header">
  <div class="row">
    <div class="col-xs-4">
      <%= wicked_pdf_image_tag 'logo-ifrs-feliz-pequeno.png' %>
    </div>
    <div class="col-xs-8">
      <h1>SOLICITAÇÃO DE COMPRA DE MATERIAIS E/OU SERVIÇOS LICITADOS</h1>
      <h2>Nº SOLICITAÇÃO: <%= @order.id %></h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <section>
      <h4 class="title">1. Dados do Requisitante</h4>
      <table class="table table-condensed">
        <tr>
          <td><strong>Departamento: </strong><%= @order.user.departamento %></td>
          <td><strong>Data:</strong> <%= l @order.created_at, format: :long %></td>
        </tr>
        <tr>
          <td><strong>Requisitante: </strong><%= @order.user.full_name %></td>
          <td><strong>Fone:</strong> <%= @order.user.telefone %></td>
        </tr>
        <tr>
          <td><strong>E-mail: </strong><%= @order.user.email %></td>
          <td>&nbsp;</td>
        </tr>
      </table>
    <section>

    <section>
      <h4 class="title">2. Dados da Licitação</h4>
      <table class="table table-condensed">
        <tr>
          <td><strong>UASG: </strong><%= @order.requests.first.item.bid.uasg.codigo %></td>
          <td><strong>PREGÃO:</strong> <%= @order.requests.first.item.bid.numero %></td>
        </tr>
      </table>
    </section>

      <h4 class="title">3. Itens da Licitação</h4>
      <% total = 0 %>
      <table class="table table-bordered">
        <tr>
          <th>Item</th>
          <th>Validade</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Qtd</th>
          <th>Un.</th>
          <th>R$ Un.</th>
          <th>R$ Total</th>
        </tr>
        <% 6.times do %>
        <% @order.requests.each do |r| %>
          <tr>
            <td><%= r.item.item %></td>
            <td><%= l r.item.validade %></td>
            <td><%= r.item.tipo %></td>
            <td><%= r.item.descricao %></td>
            <td><%= r.qtd_solicitada %></td></td>
            <td><%= r.item.unidade %></td>
            <td><%= r.item.valor_unitario %></td>
            <td><%= r.item.valor_unitario * r.qtd_solicitada %></td>
          </tr>
          <% total += r.item.valor_unitario * r.qtd_solicitada %>
        <% end %>
        <% end %>
        <tr>
          <td colspan="6">&nbsp;</td>
          <td>R$ Total:</td>
          <td><%= total %></td>
        </tr>
      </table>

      <h4 class="title">4. Justificativas para Aquisição</h4>
      <div class="row">
        <div class="col-xs-12">
          <% 6.times do %>
          <% @order.requests.each do |r| %>
            <dl class="dl-horizontal">
              <dt>Item <%= r.item.item %>:</dt>
              <dd><%= r.justificativa %></dd>
            </dl>
          <% end %>
          <% end %>
        </div>
      </div>

    <section>
      <h4 class="title">5. Assinaturas</h4>
      <div class=bloco>
        <div class="row">
          <div class="col-xs-8">
            <table class="table">
              <tr>
                <td><strong>Requisitante: </strong><%= @order.user.full_name %></td>
              </tr>
              <tr>
                <td><strong>Cargo:</strong> <%= @order.user.cargo %></td>
              </tr>
              <tr>
                <td><strong>SIAPE: </strong><%= @order.user.siape %></td>
              </tr>
            </table>
          </div>
          <div class="col-xs-4">
            <p class="data"><strong>Data:</strong> ____ / ____ / ________</p>

            <p class="assinatura">Assinatura Solicitante</p>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class=bloco>
        <div class="row">
          <div class="col-xs-6">
            <p><strong>Responsável do Departamento(Chefia Imediata):</strong></p>
            <p class="assinatura">Nome Completo</p>
          </div>
          <div class="col-xs-6">
            <p class="data"><strong>Data:</strong> ____ / ____ / ________</p>

            <p class="assinatura">Assinatura da Chefia Imediata</p>

          </div>
        </div>
      </div>
    </section>

    <section>
      <h4 class="title">6. Análise Orçamentária</h4>
      <div class=bloco>
        <div class="row">
          <div class="col-xs-7">
            <br />
            <label for="one"><input type="checkbox" id="one">&nbsp;&nbsp;&nbsp;Orçamento&nbsp;Campus</label></br>
            <label for="two"><input type="checkbox" id="two"/>&nbsp;&nbsp;&nbsp;Outro:_____________________________________</label>
          </div>
          <div class="col-xs-5">
            Carimbo e Assinatura
            <div class="bloco">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h4 class="title">7. Aprovação do Ordenador de Despesas</h4>
      <div class=bloco>
        <div class="row">
          <div class="col-xs-7">
            <p>Aprovo a aquisição dos itens acima listados</p>
          </div>
          <div class="col-xs-5">
            Carimbo e Assinatura
            <div class="bloco">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
