<%= simple_form_for(@stockroom_removal, url: stockroom_removals_path) do |f| %>
  <%= f.error_notification %>

  <%= f.association :user, label: "Solicitante", label_method: :full_name, input_html: {class: 'chosen-select'} %>

  <%= f.input :password, as: :password, required: true, label: 'Senha' %>

  <h3>Itens retirados</h3>
  <div id="itens">
    <%= f.simple_fields_for :stockroom_removal_items do |t| %>
      <%= render 'stockroom_removal_item_fields', f: t %>
    <% end %>
    <%= link_to_add_association 'Adicionar outro item', f, :stockroom_removal_items, class: 'btn btn-success', :data => {"association-insertion-method" => "before" } %>
  </div>

  <%= f.input :justificativa %>

  <hr />

  <%= f.button :submit, value: 'Salvar', class: 'btn btn-primary', data: { disable_with: "Processando..." } %>
<% end %>
