<h1 class="title">Lista de Retirada de Items do Almoxarifado</h1>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= simple_form_for @filter, url: stockroom_removals_path, method: :get, html: { class: 'form-inline' } do |f| %>
        <%= f.input :start_date, as: :date_picker, placeholder: 'Data Inicial', label: false %>
        <%= f.input :end_date, as: :date_picker, placeholder: 'Data Final', label: false %>
        <%= f.submit 'Filtrar', class: 'btn btn-primary' %>
        <%= link_to 'Limpar Filtro', stockroom_removals_path, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

<hr />

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Solicitante</th>
    <th>Data de Retirada</th>
    <th>Qtd Itens Retirados</th>
    <th colspan="3">Ações</th>
  </tr>

  <%= content_tag_for(:tr, @stockroom_removals) do |stockroom_removal| %>
    <td><%= stockroom_removal.id %></td>
    <td><%= stockroom_removal.user.try(:full_name) %></td>
    <td><%= l(stockroom_removal.created_at, format: :short) %></td>
    <td><%= stockroom_removal.stockroom_removal_items.count %>
    <td>
      <%= link_to 'Mostrar', stockroom_removal_path(stockroom_removal), class: 'btn btn-xs btn-info' %>
    </td>
  <% end %>
</table>

<hr />

<%= link_to 'Nova Retirada de Item', new_stockroom_removal_path, class: 'btn btn-success' %>
