<h1 class="title">Lista de Retirada de Items do Almoxarifado</h1>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Solicitante</th>
    <th>Data de Retirada</th>
    <th>Qtd Itens Retirados</th>
    <th colspan="3">Ações</th>
  </tr>

  <%= content_tag_for(:tr, @stockroom_removals) do |stockroom_removal| %>
    <td><%= stockroom_removal.id %></td>
    <td><%= stockroom_removal.user.try(:full_name) %></td>
    <td><%= l(stockroom_removal.created_at, format: :short) %></td>
    <td><%= stockroom_removal.stockroom_removal_items.count %>
    <td>
      <%= link_to 'Mostrar', stockroom_removal, class: 'btn btn-xs btn-info' %>
    </td>
  <% end %>
</table>

<hr />

<%= link_to 'Nova Retirada de Item', new_stockroom_removal_path, class: 'btn btn-success' %>
