<h1 class="title">Lista Geral de Itens</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Classificação</th>
      <th>Descrição</th>
      <th>Fornecedor</th>
      <th>Validade</th>
      <th>Unidade</th>
      <th>Qtd</th>
      <th>Valor Unitario</th>
      <th>Tipo</th>
      <th>Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item %></td>
        <td><%= item.item_classification.nome %></td>
        <td><%= item.descricao %></td>
        <td><%= item.supplier.razao_social %></td>
        <td><%= l item.validade %></td>
        <td><%= item.unidade %></td>
        <td><%= item.quantidade %></td>
        <td><%= item.valor_unitario %></td>
        <td><%= item.tipo %></td>
        <td>
        <% if can? :read, item %>
          <%= link_to 'Mostrar', bid_item_path(item.bid, item) %>
        <% end %>
        <% if can? :update, item %>
          <%= link_to 'Editar', edit_bid_item_path(item.bid, item) %>
        <% end %>
        <% if can? :delete, item %>
          <%= link_to 'Deletar', bid_item_path(item.bid, item), method: :delete, data: { confirm: 'Você tem certeza?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
