<%= simple_form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
      <ul>
      <% @supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  <%= f.input :cnpj, label: 'CNPJ' %>
  <%= f.input :razao_social, label: 'Razão Social' %>
  <%= f.input :email %>
  <%= f.input :telefone %>
  <%= f.input :celular %>
  <%= f.input :contato %>
  <%= f.association :supplier_groups, label_method: :nome, value_method: :id, include_blank: false, input_html: {class: 'chosen-select'}, label: 'Grupo(s) de Fornecedor(es)' %>
  <%= f.input :observacoes %>
  <%= f.button :submit, class: 'btn btn-success' %>


<% end %>

<hr />
